name: Publish

#on:
#  push:
#    tags:
#      - 'v*' # Trigger the workflow when a tag starting with 'v' is pushed (e.g., v1.0.0)

on:
  workflow_dispatch:
    tags:
      - 'v*' # Trigger the workflow when a tag starting with 'v' is pushed (e.g., v1.0.0)

#    inputs:
#      body:
#        default: ""
#      test:
#        default: "false"

#  pull_request_target: 
#  workflow_dispatch:
#    inputs:
#      logLevel:
#        description: 'Log level'
#        required: true
#        default: 'warning'
#        type: choice
#        options:
#        - info
#        - warning
#        - debug
#      tags:
#        description: 'Test scenario tags'
#        required: false
#        type: boolean
#      environment:
#        description: 'Environment to run tests against'
#        type: environment
#        required: true

jobs:
  build-and-upload:
    name: Build and publish binaries
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
          target: [UiOvpn23] # SkeletonOvpn2, UiOvpn2
    permissions:
      contents: write # Important: This permission is required to create/update releases and upload assets
#    name: "Release ${{ matrix.target }}"
#    runs-on: ubuntu-latest
    steps:
      - name: check ref
        run : echo "github.ref:"${{ github.ref }}
      - name: check ref_name
        run : echo "github.ref_name:"${{ github.ref_name }}

#        run: |
#          BRANCH_NAME="${{ github.ref_name }}"
#          if [ "$BRANCH_NAME" != "main" ]; then
#            echo "::error::この workflow は main ブランチで実行する必要があります。現在のブランチ: $BRANCH_NAME"
#            #exit 1
#          fi
#          echo "ブランチの検証結果: main ブランチで実施されています。"
      - name: Use debug signing
        run: mkdir -p ~/.gradle && echo -e "icsopenvpnDebugSign=true\norg.gradle.jvmargs=-Xmx2048M" > ~/.gradle/gradle.properties
      - name: Checkout the code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Load API Token from secrets
        env:
          API_TOKEN: ${{ secrets.API_OTKEN }}
        run: echo API_TOKEN=\"$API_TOKEN\" > ./local.properties
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'gradle'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Build the app
        run: ./gradlew assemble${{ matrix.target }}Release
#      - name: Run Unit tests
#        run: ./gradlew test${{ matrix.target }}ReleaseUnitTest
      - name: Archive apk artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{matrix.target}}-release-apk
          path: main/build/outputs/apk/**/*universal*.apk
      - name: Create Release (if it doesn't exist)
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # The default token is sufficient
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2 # https://github.com/svenstaro/upload-release-action https://github.com/marketplace/actions/upload-files-to-a-github-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
#          file: target/release/ics-openvpn-${{ github.ref }}.apk
          path: main/build/outputs/apk/**/*universal*.apk
          asset_name: ics-openvpn-${{ github.ref_name }}.apk #
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true # Enable glob pattern matching for the file path
          body: "${{ github.ref }} release"
#      - name: Upload APK to Release
#        uses: actions/upload-release-asset@v2 # not available
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#       　with:
#          upload_url: ${{ steps.create_release.outputs.upload_url }} # `create_release`ステップで取得
#          asset_path: app/build/outputs/apk/release/your-app-release.apk # 自分のAPKのパス
#          asset_name: your-app-release.apk
#          asset_content_type: application/vnd.android.package-archive
